<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<ConnectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Application Name=Distro.Ordering;Server=.;Database=Distro.Ordering;Integrated Security=True;multipleactiveresultsets=true;App=EntityFramework;Trusted_Connection=True;" />
	</ConnectionStrings>	
</configuration>